*{
    box-sizing:border-box;
    margin:0px;
}
.hs{
    background-color:rgb(0, 255, 255);
    display:block; 
    width:438px;
    height:60px
}
.navbar{
background-color: rgb(239, 236, 238);
}
.navbar ul{
list-style-type: none;
margin-left:200px;
}

.navbar ul li{
    display: inline-block;
    width:15%;
    height:20px;
    line-height:40px;
}
a{
    text-align:center;
    text-decoration:none;
    color:black;
    font-size:12px;
    padding:2px;
    margin-left:4px;
}
a:hover{
   
    background-color:black;
    color: rgb(239, 236, 238);
}
.fs{

}
#d1{
    float:left;
    display:inline-block;
    color:black;
    font-size:30px;
    padding-top: 20px;
    padding-left: 20px;
}
#d2{
    float:left;
    /* background-color:rgb(21, 248, 248); */
    display:inline-block;
   
    font-size:12px;
    padding-top: 20px;
    padding-left: 180px;
}
#d3{

    display:block;
}
#d4{
    font-size:28px;
   margin-top:260px;
   margin-left:10px;
}