*{
    box-sizing:border-box;   
     margin:0px;
}
.container{
    /* background-image: url(../myimage/back2.jpg); */
    background-color:black;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-auto-rows:minmax(30px,auto);
    grid-auto-columns:minmax(30px,auto);
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:10;
    /* width:1034px;
    height:610px; */
}

/* .boxa{
    border-radius:8px;
    overflow:hidden;

    height:300px;
    background:linear-gradient(0deg,transparent,
    transparent,rgb(12, 12, 254),rgb(52, 52, 250),rgb(76, 76, 247),rgb(82, 82, 251),rgb(86, 86, 253));
    z-index: 1;
    animation :animate 6s linear infinite;
    overflow:hidden;
} */

.box1{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:11;
    width:330px;
    height:300px;
    /* background-color: aqua; */
    background-color: black;
    box-shadow: 0 0 40px aqua;
    border-radius:8px;
    border:2px solid aqua;
    margin-left:100px;

}

 /* .boxa::before{
    position:absolute;
    margin-top:-50px;
    margin-left:-50px;
    height:600px;
    width:600px;
    background:linear-gradient(0deg,transparent,
    transparent,rgb(12, 12, 254),rgb(52, 52, 250),rgb(76, 76, 247),rgb(82, 82, 251),rgb(86, 86, 253));
    z-index: 1;
    animation :animate 6s linear infinite;
}

.boxa::after{
    position:absolute;
    margin-top:-50px;
    margin-left:-50px;
    height:600px;
    width:600px;
    background:linear-gradient(0deg,transparent,
    transparent,rgb(12, 12, 254),rgb(52, 52, 250),rgb(76, 76, 247),rgb(82, 82, 251),rgb(86, 86, 253));
    z-index: 1;
    animation :animate 6s linear infinite;
} 
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
.box9{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:11;
    grid-row-end:16;
 
}
.box{
   grid-template-columns:1fr ;
   
   grid-column-start:1;
   grid-column-end:4;
   grid-row-start:1;
   grid-row-end:2;
    text-align: center;
    /* margin-top:80px;
    margin-left: 300px; */
    /* animation:animate 10s linear infinite; */
}
.box2{

    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    
 }
.box3{

    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:4;
    
 }
 .box4{

    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:4;
    grid-row-end:5;
    
 }
 .box5{

    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:5;
    grid-row-end:6;
    
 }
#d21{
    display:inline-block;
    margin-left:20px;
    color:white;
}
#d22{
    display:inline-block;
    margin-left:35px;
    height:30px;
    border-radius:40px;
}
#d31{
    display:inline-block;
    margin-left:20px;
    color:white;
}
#d32{
    display:inline-block;
    margin-left:40px;
    width:80px;
    height:30px;
    border-radius:40px;
}
#d51{
    display:inline-block;
    margin-left:10px;
    /* background-color:aqua;
    color:black; */
}
#d52{
    display:inline-block;
    margin-left:10px;
}

 .inputbox{
  
    text-align: center;
    
}
#ai1{
    background-color:black;
    color:aqua;
    border:2px solid aqua;
  
    width:80px;
    height:40px;
    border-radius:15px;
}
#ai1:hover{
    background-color:aqua;
    color:black;
}
#ai2{
    background-color:black;
    color:aqua;
    border:2px solid aqua;
  
    width:80px;
    height:40px;
    border-radius:15px;
}
#ai2:hover{
    background-color:aqua;
    color:black;
}
#d11{
    font-size:20px;
    color:aqua;
    margin-top:10px;
}
#d41{
    margin-left:190px;
    margin-top:-30px;
}
#ai3{
    color:aqua;
}
#ai3:hover{
    color:white;
}
#ai4{
    width:180px;
    height:30px;
    border-radius: 15px;
}
#ai5{
    width:180px;
    height:30px;
    border-radius: 15px;
}