*{
    box-sizing:border-box;
}
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(50px,auto);
    grid-auto-columns:minmax(50px,auto);
    width:100%;
    height:100px;
}
.box{
   background-color: #5aacc5;
  
}
.box-1-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
#d1{
    width:100%;
    height:50px;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}
/* #h3{
    display:inline-block; 
} */
 #b1{
    margin-top:15px;
    margin-left:20px;
    font-size:26px;
    color:blue;
    /* rgb(0, 195, 255); */
 }
 #b2{
    display:inline-block;
    font-size:26px;
    color:white;
 }

.navbar{
    display:inline-block;
    margin-left:280px;
}
.navbar ul{
    list-style-type: none;
    margin-left:0px;
}
    
.navbar ul li{
        color:white;
        display: inline-block; 
        margin-left:25px;
}
.navbar ul li a{
    text-decoration:none;
}
.navbar ul li a:hover{
    background-color:bisque;
    color:black;
}